<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" mointorInterval="1">
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} %p %m%n</Property>
        <Property name="APP_LOG_ROOT">logs</Property>
    </Properties>
    <Appenders>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <RollingFile name="ErrorLog" fileName="${APP_LOG_ROOT}/error.log"
                     filePattern="%d{MM-dd-yyyy}.error.%i.log.qz">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="250 KB"/>
            </Policies>
                <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
        </RollingFile>

        <RollingFile name="InfoLog" fileName="${APP_LOG_ROOT}/info.log"
                     filePattern="%d{MM-dd-yyyy}.info.%i.log.qz">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="250 KB"/>
            </Policies>
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
        </RollingFile>

        <RollingFile name="DebugLog" fileName="${APP_LOG_ROOT}/debug.log"
                     filePattern="%d{MM-dd-yyyy}.debug.%i.log.qz">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="250 KB"/>
            </Policies>
            <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>
        </RollingFile>
    </Appenders>


    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="InfoLog"/>
            <AppenderRef ref="DebugLog"/>
            <AppenderRef ref="ErrorLog"/>
        </Root>
    </Loggers>
</Configuration>